<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Program Bindings Libs</key>
	<array>
		<dict>
			<key>LibId</key>
			<string>apple_sdk_iphoneos8.1</string>
			<key>LibName</key>
			<string>iOS</string>
		</dict>
	</array>
	<key>Program Display Info</key>
	<dict>
		<key>LuaAppDocument-associatedXodeProject</key>
		<dict>
			<key>platform</key>
			<string>iphoneos</string>
			<key>project</key>
			<string>CollectionViewTuto.xcodeproj</string>
			<key>target</key>
			<string>CollectionViewTuto</string>
		</dict>
		<key>LuaAppWindow edited source path</key>
		<string>PinchFlowLayout</string>
		<key>LuaAppWindow frame</key>
		<string>942 752 1129 596 0 0 2560 1417 </string>
	</dict>
	<key>Program Format Version</key>
	<string>0.9</string>
	<key>Program Groups Order</key>
	<dict>
		<key></key>
		<array>
			<string>CreateController</string>
			<string>CollectionController</string>
			<string>LabelCell</string>
			<string>PinchFlowLayout</string>
			<string>h2g2</string>
		</array>
	</dict>
	<key>Program Platform Sdk Name</key>
	<string>iphoneos</string>
	<key>Program Source Files Info</key>
	<dict>
		<key></key>
		<dict>
			<key>RootGroupId</key>
			<string>MainController</string>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ListController Group IsExpanded</key>
				<true/>
			</dict>
		</dict>
		<key>CollectionController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>CollectionController</string>
			<key>SourceItemChangeTime</key>
			<real>445854828.65037602</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>0</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1009</integer>
				<key>SrcEditor Visible Location</key>
				<integer>361</integer>
			</dict>
		</dict>
		<key>CreateController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<false/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>CreateController</string>
			<key>SourceItemChangeTime</key>
			<real>434904819.61030602</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>0</integer>
				<key>SrcEditor Visible Length</key>
				<integer>94</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>LabelCell</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>LabelCell</string>
			<key>SourceItemChangeTime</key>
			<real>435573576.861996</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>0</integer>
				<key>SrcEditor Visible Length</key>
				<integer>753</integer>
				<key>SrcEditor Visible Location</key>
				<integer>469</integer>
			</dict>
		</dict>
		<key>PinchFlowLayout</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>PinchFlowLayout</string>
			<key>SourceItemChangeTime</key>
			<real>445855119.82677501</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>357</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1107</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>h2g2</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>434915010.15037203</real>
			<key>SourceItemOriginalFilePath</key>
			<string>h2g2.txt</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va2gEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAWAMAAAQAAAADAwAAAAMAAAUAAAABAQAAVXNlcnMA
			AAAIAAAAAQEAAGplYW4tbHVjDQAAAAEBAABEZXZlbG9wcGVtZW50
			AAAAEAAAAAEBAABDZWxlZGV2IENvZGVGbG93HAAAAAEBAABDb2Rl
			RmxvdyBTYW1wbGUgQXBwbGljYXRpb25zEgAAAAEBAABDb2xsZWN0
			aW9uVmlld1R1dG8AAAgAAAABAQAAaDJnMi50eHQcAAAAAQYAABAA
			AAAgAAAAMAAAAEgAAABgAAAAhAAAAKAAAAAIAAAABAMAAHxkAgAA
			AAAACAAAAAQDAADDe04AAAAAAAgAAAAEAwAANYNOAAAAAAAIAAAA
			BAMAAFJTTwAAAAAACAAAAAQDAABuvE8AAAAAAAgAAAAEAwAAfY6f
			AAAAAAAIAAAABAMAAK6PnwAAAAAAHAAAAAEGAADUAAAA5AAAAPQA
			AAAEAQAAFAEAACQBAAA0AQAACAAAAAAEAABBufxIpgAAABgAAAAB
			AgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAFAAAA
			AAAAAAQAAAADAwAA9wEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEA
			AE1hY2ludG9zaCBIRAgAAAAEAwAAAABGpwMBAAAIAAAAAAQAAEG4
			Iv/AAAAAJAAAAAEBAAAxQkIzNEI4QS03RjU5LTNDMjktOUJBOS0y
			MTNBRTg0OTM4NkUYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAA
			AAAAAAEAAAABAQAALwAAAAAAAAABBQAA+AAAAAECAAAxMmQwNjkw
			Yjk5YjllYWM1YjkyMmMyNDEwY2MxY2JkYWUwNzM0NTUyOzAwMDAw
			MDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxl
			LmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDAwMDAwMDE7MDEwMDAw
			MDg7MDAwMDAwMDAwMDlmOGZhZTsvdXNlcnMvamVhbi1sdWMvZGV2
			ZWxvcHBlbWVudC9jZWxlZGV2IGNvZGVmbG93L2NvZGVmbG93IHNh
			bXBsZSBhcHBsaWNhdGlvbnMvY29sbGVjdGlvbnZpZXd0dXRvL2gy
			ZzIudHh0ANgAAAD+////AQAAAAAAAAARAAAABBAAALAAAAAAAAAA
			BRAAAEQBAAAAAAAAEBAAAHgBAAAAAAAAQBAAAGgBAAAAAAAAAiAA
			AEQCAAAAAAAABSAAALQBAAAAAAAAECAAAMQBAAAAAAAAESAAAPgB
			AAAAAAAAEiAAANgBAAAAAAAAEyAAAOgBAAAAAAAAICAAACQCAAAA
			AAAAMCAAAFACAAAAAAAAAcAAAJgBAAAAAAAAEcAAACAAAAAAAAAA
			EsAAAKgBAAAAAAAAENAAAAQAAAAAAAAAgPAAAFgCAAAAAAAA
			</data>
		</dict>
	</dict>
</dict>
</plist>
