<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Program Bindings Libs</key>
	<array>
		<dict>
			<key>LibBookmark</key>
			<data>
			Ym9va0AEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAPAMAAAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGpl
			YW4tbHVjBwAAAAEBAABMaWJyYXJ5ABMAAAABAQAAQXBwbGljYXRp
			b24gU3VwcG9ydAAUAAAAAQEAAGNvbS5jZWxlZGV2LkNvZGVGbG93
			CAAAAAEBAABpcGhvbmVvcxcAAAABAQAAaU9TLTguMS1TREsubHVh
			YmluZGluZ3MAHAAAAAEGAAAEAAAAFAAAACQAAAA0AAAAUAAAAGwA
			AAB8AAAACAAAAAQDAAB8ZAIAAAAAAAgAAAAEAwAAw3tOAAAAAAAI
			AAAABAMAADh8TgAAAAAACAAAAAQDAAA+fE4AAAAAAAgAAAAEAwAA
			WmJUAAAAAAAIAAAABAMAAFxiVAAAAAAACAAAAAQDAACevcgAAAAA
			ABwAAAABBgAAwAAAANAAAADgAAAA8AAAAAABAAAQAQAAIAEAAAgA
			AAAABAAAQboegwcAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAA
			AAAAAAAAAAgAAAAEAwAABQAAAAAAAAAEAAAAAwMAAPcBAAAMAAAA
			AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAAAGzgMBAAAIAAAAAAQA
			AEG4Iv/AAAAAJAAAAAEBAAAxQkIzNEI4QS03RjU5LTNDMjktOUJB
			OS0yMTNBRTg0OTM4NkUYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAA
			AAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAABAAAAAMDAAAAAwAA
			8gAAAAECAAA3ZGNlODAzNjdiZGY0OGRlZWU3YWQwOTE5NDNmMGM2
			ZTY4ODBlOGE0OzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAw
			MDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7
			MDAwMDAwMDE7MDEwMDAwMDg7MDAwMDAwMDAwMGM4YmQ5ZTsvdXNl
			cnMvamVhbi1sdWMvbGlicmFyeS9hcHBsaWNhdGlvbiBzdXBwb3J0
			L2NvbS5jZWxlZGV2LmNvZGVmbG93L2lwaG9uZW9zL2lvcy04LjEt
			c2RrLmx1YWJpbmRpbmdzAAAAzAAAAP7///8BAAAAAAAAABAAAAAE
			EAAAnAAAAAAAAAAFEAAAMAEAAAAAAAAQEAAAZAEAAAAAAABAEAAA
			VAEAAAAAAAACIAAAIAIAAAAAAAAQIAAAoAEAAAAAAAARIAAA1AEA
			AAAAAAASIAAAtAEAAAAAAAATIAAAxAEAAAAAAAAgIAAAAAIAAAAA
			AAAwIAAALAIAAAAAAAABwAAAhAEAAAAAAAARwAAAFAAAAAAAAAAS
			wAAAlAEAAAAAAAAQ0AAANAIAAAAAAACA8AAAQAIAAAAAAAA=
			</data>
			<key>LibDirPath</key>
			<string>iphoneos</string>
			<key>LibId</key>
			<string>apple_sdk_iphoneos8.1</string>
			<key>LibName</key>
			<string>iOS</string>
			<key>LibUrl</key>
			<string>file:///Users/jean-luc/Library/Application%20Support/com.celedev.CodeFlow/iphoneos/iOS-8.1-SDK.luabindings/</string>
		</dict>
	</array>
	<key>Program Display Info</key>
	<dict>
		<key>LuaAppDocument remote Lua service</key>
		<string>CollectionViewTuto - Main Controller (Astérie)</string>
		<key>LuaAppDocument-associatedXodeProject</key>
		<dict>
			<key>platform</key>
			<string>iphoneos</string>
			<key>project</key>
			<string>CollectionViewTuto.xcodeproj</string>
			<key>target</key>
			<string>CollectionViewTuto</string>
		</dict>
		<key>LuaAppWindow edited source path</key>
		<string>LabelCell</string>
		<key>LuaAppWindow frame</key>
		<string>997 782 1129 556 0 0 2560 1418 </string>
	</dict>
	<key>Program Format Version</key>
	<string>0.9</string>
	<key>Program Groups Order</key>
	<dict>
		<key></key>
		<array>
			<string>CreateController</string>
			<string>CollectionController</string>
			<string>LabelCell</string>
			<string>PinchFlowLayout</string>
			<string>h2g2</string>
		</array>
	</dict>
	<key>Program Source Files Info</key>
	<dict>
		<key></key>
		<dict>
			<key>RootGroupId</key>
			<string>MainController</string>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ListController Group IsExpanded</key>
				<true/>
			</dict>
		</dict>
		<key>CollectionController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>CollectionController</string>
			<key>SourceItemChangeTime</key>
			<real>435573253.88195902</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>3141</integer>
				<key>SrcEditor Visible Length</key>
				<integer>756</integer>
				<key>SrcEditor Visible Location</key>
				<integer>8351</integer>
			</dict>
		</dict>
		<key>CreateController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<false/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>CreateController</string>
			<key>SourceItemChangeTime</key>
			<real>434904819.61030602</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>0</integer>
				<key>SrcEditor Visible Length</key>
				<integer>94</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>LabelCell</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>LabelCell</string>
			<key>SourceItemChangeTime</key>
			<real>435573576.861996</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>3021</integer>
				<key>SrcEditor Visible Length</key>
				<integer>809</integer>
				<key>SrcEditor Visible Location</key>
				<integer>2377</integer>
			</dict>
		</dict>
		<key>PinchFlowLayout</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>PinchFlowLayout</string>
			<key>SourceItemChangeTime</key>
			<real>435573404.64335001</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>2902</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1648</integer>
				<key>SrcEditor Visible Location</key>
				<integer>2903</integer>
			</dict>
		</dict>
		<key>h2g2</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>434915010.15037203</real>
			<key>SourceItemOriginalFilePath</key>
			<string>h2g2.txt</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va0wEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAASAMAAAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGpl
			YW4tbHVjDQAAAAEBAABEZXZlbG9wcGVtZW50AAAAEAAAAAEBAABD
			ZWxlZGV2IENvZGVGbG93HAAAAAEBAABDb2RlRmxvdyBTYW1wbGUg
			QXBwbGljYXRpb25zEgAAAAEBAABDb2xsZWN0aW9uVmlld1R1dG8A
			AAgAAAABAQAAaDJnMi50eHQcAAAAAQYAAAQAAAAUAAAAJAAAADwA
			AABUAAAAeAAAAJQAAAAIAAAABAMAAHxkAgAAAAAACAAAAAQDAADD
			e04AAAAAAAgAAAAEAwAANYNOAAAAAAAIAAAABAMAAFJTTwAAAAAA
			CAAAAAQDAABuvE8AAAAAAAgAAAAEAwAAfY6fAAAAAAAIAAAABAMA
			AK6PnwAAAAAAHAAAAAEGAADIAAAA2AAAAOgAAAD4AAAACAEAABgB
			AAAoAQAACAAAAAAEAABBufxIpgAAABgAAAABAgAAAQAAAAAAAAAP
			AAAAAAAAAAAAAAAAAAAACAAAAAQDAAAFAAAAAAAAAAQAAAADAwAA
			9wEAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAAAbOAwEA
			AAgAAAAABAAAQbgi/8AAAAAkAAAAAQEAADFCQjM0QjhBLTdGNTkt
			M0MyOS05QkE5LTIxM0FFODQ5Mzg2RRgAAAABAgAAgQAAAAEACADv
			FwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAEAAAA
			AwMAAAADAAD4AAAAAQIAAGE1Yjk2ZjQ2MTM0MDZkY2I0ZjczNTMz
			MjAzN2MxYzQ2MWQ1MzczMDY7MDAwMDAwMDA7MDAwMDAwMDA7MDAw
			MDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVh
			ZC13cml0ZTswMDAwMDAwMTswMTAwMDAwODswMDAwMDAwMDAwOWY4
			ZmFlOy91c2Vycy9qZWFuLWx1Yy9kZXZlbG9wcGVtZW50L2NlbGVk
			ZXYgY29kZWZsb3cvY29kZWZsb3cgc2FtcGxlIGFwcGxpY2F0aW9u
			cy9jb2xsZWN0aW9udmlld3R1dG8vaDJnMi50eHQAzAAAAP7///8B
			AAAAAAAAABAAAAAEEAAApAAAAAAAAAAFEAAAOAEAAAAAAAAQEAAA
			bAEAAAAAAABAEAAAXAEAAAAAAAACIAAAKAIAAAAAAAAQIAAAqAEA
			AAAAAAARIAAA3AEAAAAAAAASIAAAvAEAAAAAAAATIAAAzAEAAAAA
			AAAgIAAACAIAAAAAAAAwIAAANAIAAAAAAAABwAAAjAEAAAAAAAAR
			wAAAFAAAAAAAAAASwAAAnAEAAAAAAAAQ0AAAPAIAAAAAAACA8AAA
			SAIAAAAAAAA=
			</data>
		</dict>
	</dict>
</dict>
</plist>
